body {
    scroll-behavior: smooth;
}

.hero {
    height: 60vh;
    background:
        linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("https://raw.githubusercontent.com/gouaf/aca-tv-1/refs/heads/main/studio.jpg?auto=compress&w=1600&q=80")
            center/cover no-repeat;
}

#advertise {
    background: linear-gradient(180deg, #111 0%, #222 100%);
}

footer {
    background-color: #111;
}

a.btn-warning {
    border-radius: 30px;
    padding: 12px 30px;
}
